.search-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .field-group {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    cursor: pointer;
  }

  .field-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.3s ease;
  }

  .field-label:hover {
    color: #007bff;
  }

  .field-inputs {
    margin-top: 10px;
    padding-left: 10px;
  }

  .field-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  .field-input:focus {
    border-color: #007bff;
  }

  .toggle-arrow {
    font-size: 16px;
    color: #888;
    transition: transform 0.3s ease;
    margin-left: auto;
  }

  .field-group.expanded .toggle-arrow {
    transform: rotate(180deg);
  }

  .field-group:hover .toggle-arrow {
    color: #007bff;
  }

  RDPage-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }






  /* 圆形提示图标的样式 */
.info-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #839af5;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.info-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* 提示文本的样式 */
.tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* 显示在图标上方 */
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* 显示在提示框下方的小箭头 */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

